# {{ ansible_managed }}
export STORAGE_BASE_DIR='/var/vmail'
export WEB_SERVER='NGINX'
export BACKEND_ORIG='MYSQL'
export BACKEND='MYSQL'
export VMAIL_DB_BIND_PASSWD='Hello101!'
export VMAIL_DB_ADMIN_PASSWD='Hello101!'
export PGSQL_ROOT_PASSWD='Hello101!'
export FIRST_DOMAIN='{{ hostname }}.com'
export DOMAIN_ADMIN_PASSWD_PLAIN='Hello101!'
export USE_IREDADMIN='YES'
export USE_ROUNDCUBE='YES'
export USE_SOGO='YES'
export USE_AWSTATS='YES'
export USE_FAIL2BAN='YES'
export AMAVISD_DB_PASSWD='Hello101!'
export IREDADMIN_DB_PASSWD='Hello101!'
export RCM_DB_PASSWD='Hello101!'
export SOGO_DB_PASSWD='Hello101!'
export SOGO_SIEVE_MASTER_PASSWD='Hello101!'
export IREDAPD_DB_PASSWD='Hello101!'
#EOF



 
 
 
 
 


